# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env

# Logs
*.log

# Assets
zenox-assets/

# Testing Scripts
testing/

# VS Code
.vscode/

# Ignore any screenlog files
screenlog.*

zenox/bot/data/text_maps/