aiohttp==3.11.18
discord.py==2.5.2
enka==2.5.8
genshin==1.7.14
GitPython==3.1.44
loguru==0.7.3
pandas==2.2.3
psutil==7.0.0
pymongo==4.13.1
python-dotenv==1.1.0
python_dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.1
requests==2.32.4
sentry-sdk==2.30.0
prometheus-client==0.22.1