aiohttp==3.12.15
discord.py==2.5.2
enka==2.5.8
genshin==1.7.15
GitPython==3.1.44
loguru==0.7.3
pandas==2.3.1
psutil==7.0.0
pymongo==4.13.2
python-dotenv==1.1.0
python_dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
sentry-sdk==2.30.0
prometheus-client==0.22.1