services:
  zenox-bot:
    image: ghcr.io/derusbstick/zenox:prod
    environment:
      - ENV=prod
    secrets:
      - source: zenox_prod_bot_token
        target: bot_token
      - source: zenox_prod_discord_dev_guild_id
        target: discord_dev_guild_id
      - source: zenox_prod_sentry_dsn
        target: sentry_dsn
      - source: zenox_prod_youtube_api_key
        target: youtube_api_key
      - source: zenox_prod_seeleland_api_url
        target: seeleland_api_url
      - source: zenox_prod_db_url
        target: db_url
      - source: zenox_prod_discord_webhook
        target: discord_webhook
    networks:
      - zenox_prod_net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      resources:
        limits:
          memory: 3G
        reservations:
          memory: 256M
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      placement:
        constraints:
          - node.hostname == Lifty

networks:
  zenox_prod_net:
    external: true
    name: zenox-mongodb-prod_zenox_prod_net

secrets:
  zenox_prod_bot_token:
    external: true
  zenox_prod_discord_dev_guild_id:
    external: true
  zenox_prod_sentry_dsn:
    external: true
  zenox_prod_youtube_api_key:
    external: true
  zenox_prod_seeleland_api_url:
    external: true
  zenox_prod_db_url:
    external: true
  zenox_prod_discord_webhook:
    external: true
